.slide-container {
  width: 100% !important;
  height: 100%;
  margin: auto;
}

.each-slide {
  width: 100%;
}
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;

  height: 50vw;
}

/* .each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
} */
